/* base.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    font-size: 16px;
}

.dynamic-content-container {
    padding: 100px 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dynamic-content {
    display: none;
}

.dynamic-content.active {
    display: block;
}