@media (max-width: 768px) {
    
    #experience h1.card-title {
        font-size: 29px;
    }

    #experience .card-body {
        padding: 24px;
    }

    .experience-entry h2.card-subtitle {
        font-size: 24px;
    }

    .experience-entry p {
        font-size: 16px;
    }

    .experience-entry ul li {
        font-size: 15px;
    }

    .skills-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .skill-item {
        width: 140px;
        height: 140px;
    }

    .proficiency-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .proficiency-item {
        width: 100%;
    }

    .proficiency-title {
        font-size: 18px;
    }

    .proficiency-item p {
        font-size: 15px;
    }

    .interest-list li {
        font-size: 16px;
    }

    header nav ul {
        flex-direction: column;
        padding: 16px 0;
    }

    .card {
        width: 100%;
        max-width: 100%;
        margin: 16px 0;
    }

    .card-body {
        padding: 16px;
    }

    .hero-img img {
        max-width: 100%;
    }

    .dynamic-content-container {
        padding: 640px 24px;
    }

    .card-body {
        padding: 19px;
    }
}
