.dynamic-content-container {
    padding: 100px 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dynamic-content {
    display: none;
}

.dynamic-content.active {
    display: block;
}



.interest-container {
    margin-top: 20px;
}

.interest-list {
    list-style-type: none;
    padding-left: 0;
}

.interest-list li {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d3d3d3;
    padding-left: 1.5rem;
    position: relative;
    margin-bottom: 10px;
}

.interest-list li:before {
    content: "\2022";
    color: #1e90ff;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    top: 0;
}




.experience-entry ul li {
    font-size: 1rem;
    line-height: 1.6;
    color: #b0b0b0;
    padding-left: 1.5rem;
    position: relative;
}

.experience-entry ul li:before {
    content: "\2022";
    color: #1e90ff;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    top: 0;
}

.experience-entry:hover {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
}

